@import "../../styles/global";
.wrap{
  margin-top: 45px;
  ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    row-gap: 55px;
    justify-content: space-between;
    li{
      width: 225px;
      cursor: pointer;
      transition: 0.3s transform;
      img{
        width: 225px;
        height: 346px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
      }
      .name{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        padding-top: 10px;
      }
      .price{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.6);
        padding-top: 5px;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
.btn{
  text-align: center;
  height: 28px;
  width: 170px;
  color: #FFFFFF;
  border: 0;
  border-radius: 5px 0 5px 0;
  transition: all 300ms ease;
  display: block;
  background: $primary;
  margin: 45px auto;
  &:hover {
    transform: translateY(-3px);
  }
}