.wrap{
  display: grid;
  grid-template-columns: 293px 550px;
  gap: 40px;
  padding-top: 40px;
  img{
    width: 293px;
    height: 293px;
    object-fit: cover;
  }
  .name{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  .descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 40px;
  }
}
